body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header-container {
  background-color: #ee6829;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button img,
.notification-button img {
  width: 24px;
  height: 24px;
}

.user-name {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.saldo-container {
  text-align: center;
  margin-top: 20px;
}

.saldo-container h1 {
  font-size: 36px;
  margin: 0;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #ffe8bc;
  padding: 10px;
  border-radius: 10px;
}

.chart-container {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff9f5;
  border-radius: 10px;
}

.extrato-detalhado-container {
  padding: 20px;
}

.extrato-detalhado-container h2 {
  color: #ee6829;
  font-weight: bold;
  margin-bottom: 20px;
}

.extrato-card {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.extrato-header {
  font-weight: bold;
  color: gray;
}

.movimento {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.descricao {
  font-size: 16px;
  color: #333;
}

.valor {
  font-weight: bold;
}

.positivo {
  color: #27a460;
}

.negativo {
  color: #c20606;
}

.edit-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #ee6829;
}

.back-button i,
.notification-button i {
  font-size: 24px;
  color: white;
}

.filter-button i,
.add-button i {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  font-size: 18px;
  color: #ee6829;
}

.action-buttons button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #ee6829;
  display: flex;
  align-items: center;
}
